.log{
  margin : 1% 2% 2%;
  position: relative;

}
.title{
  font-weight: bold;
  margin :10px;
  color : rgb(80, 80, 80);
}
.acicon{
  width : 30px;
}

.subdet:hover{
  transform:scale(1.01,1.01);
}